--extra-index-url https://download.pytorch.org/whl/cpu
openvino>=2023.2.0
openvino-dev>=2023.2.0
torch
transformers==4.34.0
tokenizers==0.14.1
accelerate
werkzeug
numpy
optimum==1.14.1
git+https://github.com/huggingface/optimum-intel.git@f248835b16ce4ec054d6d4d629dff4213fe94157
nncf
onnx>=1.11.0
onnxruntime
tiktoken
psutil
einops
huggingface_hub 
hf_transfer
auto-gptq==0.5.1
transformers_stream_generator
